:host {
    @apply h-screen;

    display: grid;
    grid-template-areas:
        'top top'
        'sidebar main';
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 15rem 1fr;
}

.header {
    grid-area: top;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    @apply min-h-full max-h-full overflow-auto;

    grid-area: main;
}
