:host {
    @apply h-screen grid grid-rows-[3rem_1fr] grid-cols-[min-content_1fr] sm:grid-cols-[14rem_1fr];
    grid-template-areas:
        'top top'
        'sidebar main';
}

.header {
    grid-area: top;
}

.sidebar {
    @apply min-h-full max-h-full overflow-auto;
    grid-area: sidebar;
}

.main {
    @apply min-h-full max-h-full overflow-auto;
    grid-area: main;
}